<header>
    如何定义组件？
</header>
<h2>
    defineComponent
</h2>
<p>
    文件index.vue：
</p>
<pre tag="html">
&lt;template&gt;
    &lt;!-- 模板 --&gt;  
&lt;/template&gt;
&lt;script lang="ts"&gt;  
import { defineComponent } from "vue";

export default defineComponent({
    setup() {
        // 代码
        return {};
    };
});
&lt;/script&gt;  
&lt;style lang="scss" scoped&gt;  
    /* 样式 */
&lt;/style&gt;  
</pre>
<h2>
    TSX
</h2>
<p>
    文件index.ts：
</p>
<pre tag="javascript">
import { defineComponent } from 'vue'
export default defineComponent({
    props: {},
    setup(props, { expose }) {
        return () =&gt; {
            return (&lt;div&gt;&lt;/div&gt;)
        }
    }
});
</pre>
<h2>
    setup
</h2>
<p>
    文件index.vue：
</p>
<pre tag="html">
&lt;template&gt;
    &lt;!-- 模板 --&gt;  
&lt;/template&gt;
&lt;script setup lang="ts"&gt;  
    // 代码
&lt;/script&gt;  
&lt;style lang="scss" scoped&gt;  
    /* 样式 */
&lt;/style&gt;  
</pre>