/* 滚动条 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

/* 请求进度 */
body>#process {
    position: fixed;
    width: 100vw;
    height: 2px;
    left: 0;
    top: 0;
    background-color: #0855d7;
}

/* 页头 */
body>header {
    background-color: #ffffff;
    padding: 10px;
    height: 50px;
    box-shadow: rgb(213 221 225) 0px 4px 6px;
    background-image: url("../images/logo.png");
    background-size: auto 90%;
    background-repeat: no-repeat;
    padding-left: 70px;
    background-position: 15px center;
}

body>header>h2 {
    font-family: cursive;
    color: #0855d7;
    font-weight: 200;
}

body>header>.github {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 50px;
    color: black;
    text-decoration: underline;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    cursor: pointer;
}

body>header>.github:hover {
    font-weight: 400;
}

/* 页面布局 */
.main-view {
    white-space: nowrap;
    font-size: 0;
}

.main-view>div {
    vertical-align: top;
    display: inline-block;
    height: calc(100vh - 50px);
    font-size: 16px;
    padding: 10px;
    white-space: normal;
    overflow: auto;
}

.main-view>div:not(:last-child) {
    border-right: 1px solid rgb(188, 186, 186);
}

.main-view>div:not(:last-child)>h2 {
    padding: 10px 0;
    font-size: 16px;
}

.main-view>div:not(:last-child) ul {
    padding-left: 10px;
}

.main-view>div:not(:last-child) li[is-open='no']>ul {
    display: none;
}

.main-view>div:not(:last-child) li[is-open='no']>span {
    background-image: url("../images/close.png");
}

.main-view>div:not(:last-child) li[is-open='yes']>span {
    background-image: url("../images/open.png");
}

.main-view>div:not(:last-child) li[is-open]>span {
    background-repeat: no-repeat;
    background-position: -4px center;
    background-size: 20px auto;
    padding-left: 15px;
}

.main-view>div:not(:last-child) span {
    font-weight: 400;
    font-size: 14px;
    color: #304455;
    cursor: pointer;
    margin: 7px 0;
    height: 1.2em;
    width: 100%;
    display: inline-block;
}

.main-view span[tag]:hover {
    text-decoration: underline;
}

.main-view>.book {
    width: 260px;
}

.main-view>.menu {
    width: 260px;
}

/* 文档 */
.main-view>.doc {
    width: calc(100vw - 520px);
    padding: 30px;
}

.main-view>.doc>header {
    font-size: 24px;
    padding: 20px 0;
}

.main-view>.doc>h2 {
    font-size: 15px;
    line-height: 2em;
    padding: 20px 0;
}

.main-view>.doc>h3 {
    font-size: 14px;
    line-height: 2em;
    padding: 15px 0;
}

.main-view>.doc>h4 {
    font-size: 12px;
    padding: 15px 0 5px 0;
    text-decoration: overline;
}

.main-view>.doc>p {
    line-height: 1.6em;
    text-indent: 2em;
    color: #3c3939;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
}

.main-view>.doc>ul,
.main-view>.doc>ol {
    font-size: 13px;
    line-height: 2.4em;
    margin-left: 2.5em;
}

.main-view>.doc>ol>li {
    list-style-type: decimal;
}

.main-view>.doc>ul>li {
    list-style-type: disc;
}

.main-view>.doc .warn {
    font-size: 12px;
    color: #dac305;
    font-weight: 400;
    padding: 0 3px;
}

.main-view>.doc>table {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
}

.main-view>.doc>table>tbody>tr>* {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #c1bcbc;
}

.main-view>.doc>table>*>tr>td {
    padding-left: 1em;
}

.main-view>.doc>table>tbody>tr>*:first-child {
    border-width: 0 1px 1px 1px;
}

.main-view>.doc>table>tbody>tr:nth-child(2n) {
    background-color: #F5F5F5;
}

.main-view>.doc>table>tbody>tr:nth-child(2n+1) {
    background-color: #fff;
}

.main-view>.doc>table>thead>tr {
    background-color: #c1bcbc;
    border: 1px solid #c1bcbc;
    color: #fff;
}