html {
    height: 100vh !important;
    overflow: hidden;
}

body {
    background-color: white;
    width: 1400px;
    overflow: hidden;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
    background-color: #294E80;
    opacity: .7;
    transition: opacity ease-in-out 200ms;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
    background-color: #F5F5F5;
}